*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Roboto', sans-serif;
}

ul, li{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
img{
  max-width: 100%;
}
@media(min-width:1200px){
 .container{
  max-width: 1140px;
} 
}
:root{
  --color1: #3F2AFF;
}
/* =============  HEADER  ============= */
.header{
 background: var(--color1);
 overflow: hidden;
}
.container-header{
  padding-top:28px;
  padding-bottom:28px;
}
.nav-item:not(:last-child){
  margin-right: 56px;
}

.logo-link{
 display: block;
}

.nav-list{ 
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}
.nav-list::-webkit-scrollbar{
  display: none;
}
.nav-link1{
  scrollbar-color: transparent;
  scrollbar-track-color: red;
  scrollbar-width: none;
  white-space: nowrap;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.btn-form{
  font-family: 'Roboto', sans-serif;
  background:var(--color1);
  border-radius: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  border: none;
}

/* ============ HERO ============= */

.hero{
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}



.col-left{
padding-top: 130px ;
padding-bottom: 134px ;
}
.col-rigth{
  background: url(../IMG/hero-img-all.png)50% 50%/contain no-repeat;
}
/* .img-hero{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
} */
.hero-title{
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: #FFFFFF;
}
.hero-description{
  margin-bottom: 61px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.hero-btn{
  padding: 24px 76px;
 
}
/* ========= about ============= */

.container-about{
  padding-top: 80px;
  padding-bottom: 76px;
}
.row-up{
  margin-bottom: 23px;
}
.about-left-img{
  height: 100%;
  background: url(../IMG/img-about.png)center/contain no-repeat;
}
.about-title{
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #2E2B44;
}
.about-description{
  max-width: 585px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}
.item-icon{
  margin-right: 30px;
}

.about-item-subtitle{
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #666666;
}

/* =========== teachers ============= */
.teachers{
  background: #212133;
}
.teachers-container{
  padding-top: 73px;
  padding-bottom: 50px;
}
.teachers-title{
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
}
.teachers-img-block{
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  margin-bottom: 27px;
}
.teachers-img{
width: 100%;
}
.teacher-name{
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}
.teacher-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #85859B;
}
/* ========== Курсы ========= */

.courses-container{
  padding-top: 73px;
  padding-bottom: 80px;
}
.courses-title{
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #212133;
}
.courses-bg{
  overflow: hidden;

}
.courses-item:not(:nth-last-child(-n+2)){
  margin-bottom: 30px; 
}
.courses-bg{
  position: relative;
  height: 100%;
  background: #EDF0F9;
  border-radius: 20px;
  padding: 210px 30px 30px 30px;
}
.curses-subtitle{
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #212133;
}
.courses-description{
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}
.btn-block{
  margin-top: auto;
}
.btn-courses{
  padding: 20px 56px;
}
.time{
  display: flex;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 5px;
}
.time span{
  display: inline-block;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}



/* ========= FOOTER ======== */

.footer{
  
}
.social-icon{
  background: #2E2B44;
  padding: 26px 0;
}
.icon:not(:first-child){
 margin-left: 30px;
}
.copirate{
  padding: 3px 0;
}
.copirate span{
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #2E2B44;
}


/* ========== media =========== */
@media(max-width: 991.5px){
   .hero-title{
    font-size: 50px;
   }
   .col-rigth{
    background: url(../IMG/Group\ 204.png)50% 50%/contain no-repeat;
  }
  .about-item{
    flex-direction: column;
  }
  .item-icon{
    margin-bottom: 7px;
  }
  .teachers-item:not(:nth-last-child(-n+2)){
    margin-bottom: 23px;
  }

  .courses-bg{
    border-radius: 20px;
  }

  .btn-courses{
    font-size: 16px;
  }
}



@media(max-width: 575.8px){
  .container{
   padding-left: 15px;
   padding-right: 15px;
  }
  .logo-link{
    justify-content: center;
    margin-bottom: 31px;
  }
  .hero{
    background: radial-gradient(49% 49% at 67.78% 84.57%, #555681 0%, #2E2B44 100%);
  }
  .col-left{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero-title{
    font-size: 30px;
  }
  .hero-description{
    font-size: 16px;
  }
  .hero-btn{
    font-size: 16px;
    padding: 20px 53px;
  }
  .container-about {
    padding-top: 50px;
    padding-bottom: 50px;
}
  .about-title{
    font-size: 20px;
  }
  .about-description{
    font-size: 16px;
  }
  .about-item{
    flex-direction: row;
  }
  .about-item:not(:last-child){
    margin-bottom: 30px;
  }
  .item-icon{
    margin-bottom: 0;
  }
  .teachers-item{
    margin-bottom: 23px;
  }
  .teachers-title{
    font-size: 20px;
  }
  .courses-container {
    padding-top: 50px;
    padding-bottom:50px;
}
.courses-title{
  font-size: 20px;
}
  .courses-item{
    margin-bottom: 30px;
  }
   }